<h1>Cameras</h1>

<table>
  <% @cameras.each do |camera| %>
    <tr>
      <td><%= link_to camera.name, camera_path(camera) %></td>
      <td><%= link_to 'Edit', edit_camera_path(camera) if current_user %></td>
      <td><%= link_to 'Destroy', camera_path(camera),
        method: :delete, data: { confirm: 'Are you sure?' } if current_user 
        %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'New camera', new_camera_path if current_user %>
